# App
NODE_ENV=development
PORT=3000

# Keycloak
KEYCLOAK_URL=https://sso.DOMAIN/realms/REALM
KEYCLOAK_JWKS_URI=https://sso.DOMAIN/realms/REALM/protocol/openid-connect/certs

# Martin tiles
MARTIN_URL=http://MARTIN_HOST:8086
MARTIN_API_KEY=API_KEY

# Valhalla
VALHALLA_URL=http://VALHALLA_HOST:8088

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=charted
DB_PASSWORD=SOME_PASSWORD
DB_NAME=charted